/*
关于选择器
*/

/*元素选择器*/
img{
    height: 200px;
    width: 100px;
}

/*
css属性学习
背景（background-color,background-image,background-repeat,background-size）
*/
body{
    /*width: 100%;
    height: 100%;
    background-image: url('p2.JPG');
    background-repeat: repeat;
    background-size:cover;*/
    background-color: antiquewhite;
}

/*
css属性学习
边框border
border-style:边框样式
*/
*{
    border-style: solid;
    margin: 10px;
}

/*
css属性学习，文本属性
color：文本颜色
*/
body{
    color: blue;
    text-align: center;
}
h1{
    color: brown;
    text-align: justify;
}
p{
    color: blueviolet;
    text-align: right;
}
